.banner-top {
  background-image: url(https://i.postimg.cc/MpctYtGC/mockup-photos-660755-unsplash.jpg);
  height: 62%;
  margin-top: 5%;
  margin-bottom: 5%;

}

.banner-top h1 {
  font-family: 'Fredericka The Great', cursive;
  color: white;
  margin-top: 12%;
  font-size: 60px;
}

.top-bar {
  position: fixed;
  z-index: 1;
  width: 100%;
  margin-top: -5%;
  padding-bottom: 0.7%;
  padding-top: 1.25%;
  opacity: 0.85;


}

.top-bar li {
  font-family: 'Chelsea Market', cursive;
}

.blog-post iframe {
  width: 100%;
}

@media only screen and (max-width: 450px) {


  .banner-top h1 {
    font-size: 40px;
    margin-top: 50%;

  }
  .top-bar {
    opacity: 1;
  }

}
