/* TOP OF PAGE */

.banner-top {
  background-image: url(https://i.postimg.cc/HsSt43Fb/mitchell-griest-743265-unsplash.jpg);
  background-size: cover;
  height: 90%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.banner-top h1 {
  font-family: 'Fredericka The Great', cursive;
  color: white;
  margin-top: 12%;
  font-size: 60px;
}

.top-bar {
  position: fixed;
  z-index: 1;
  width: 100%;
  margin-top: -5%;
  padding-bottom: 0.7%;
  padding-top: 1.25%;
  opacity: 0.85;
}

.top-bar li {
  font-family: 'Chelsea Market', cursive;
}

/* PICTURES SECTION */

.blog-post h3 {
  font-family: 'Chelsea Market', cursive;
  font-size: 30px;
  text-align: center;
  margin-top: 10%;
  margin-left: 30%;
  width: 40%;
  border-style: double;
  padding-top: 3%;
  padding-bottom: 3%;


}

.blog-post iframe {
  width: 100%;
  margin-top: 10%;
}

.blog-post img {
  width: 40%;
  margin-left: 7%;
  margin-top: 6rem;
}

.About {
  background-image: url(https://i.postimg.cc/XYJYJH8y/rawpixel-593607-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.About h3 { /* ADD A BLACK BACKGROUND & NICE FRAME AROUND THIS AND 'TOP PROJECTS' AND 'TOP VIDEOS' */
  font-family: Futura, cursive;
  text-align: center;
  margin-top: 10%;
  margin-left: 10.25%;
  margin-right: 10.25%;
  border-style: double;
  padding-bottom: 4%;


}

 /*.bio {
  background-image: url();
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 50rem;
  margin-top: 10rem;

}*/

.bio p {
  font-family: Futura, cursive;
  font-size: 1.3rem;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 8rem;
  margin-left: 12rem;
  margin-right: 12rem;
}

/* BOTTOM OF PAGE */

.bottom {
    display: flex;
    background-color: gray;
    margin: 0 2rem 2rem 2rem;
    height: 20rem;
    padding-bottom: 30rem;
  }

  .bottom p {
    font-size: 2rem;
    margin-top: 4rem;
    margin-left: 28rem;
    padding-top: 4.5rem;
    padding-right: 0;
}

  .bottom h3 {
    font-size: 1rem;
    margin-left: 29rem;


  }
  .bottom h2 {
    font-size: .85rem;
    margin-top: 17px;
    margin-left: 28px;

  }

/* SOCIAL MEDIA */

.social-media i {
  margin-top: 2rem;
  margin-right: 2rem;
  float: right;
}

 i:hover {
  color: darkgray;

}

@media only screen and (max-width: 450px) {

  .banner-top {
    height: 65%;
  }

  .banner-top h1 {
    font-size: 40px;
    margin-top: 50%;

  }

  .top-bar {
    opacity: 1;
  }

  .blog-post img {
    width: 100%;
    margin-left: 0;
  }

  .bio p {
    margin-left: 0;
    margin-right: 0;
    padding-top: 2rem;
    padding-bottom: 0;
    font-size: .87rem;
  }

  .bottom {
    margin-left: 0;
    margin-right: 0;
  }

  .bottom p  {
    font-size: 1.6rem;
    margin-left: 5rem;
  }

  .bottom h3 {
    margin-left: 4rem;
  }

  .social-media i {
    margin-right: 2rem;
  }

  .About {
    margin-top: 0;
    background-size: cover;
    height: 30rem;
  }

  .About {
    margin-top: 5rem;
  }



}
